# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.py.class

# 환경설정
.env
*.env
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# VSCode 등 IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# 기타
*.bak
*.swp
*.tmp
